* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url("../img/bkg-img6.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main {
    width: 300px;
    margin: 0 auto;
    overflow: auto;
}

h1 {
    margin-bottom: 0;
}

input {
    border-radius: 2px;
    float: right;
}

textarea {
    width: 100%;
    height: 200px;
}

button {
    border-radius: 2px;
}

a {
    text-decoration: none;
    color: #000000;
}