* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url("../img/bkg-img6.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}