* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url("../img/bkg-img6.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: sans-serif;
}

main {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

form {
    width: 60%;
    margin: 20px auto 0 auto;
}

input {
    float: right;
    width: 70px;
    border: 1px solid #49494b;
}

.logout-button {
    margin-right: 20px;
    float: right;
    width: 200px;
}

.centerButton {
    float: none;
}

button {
    border: 1px solid #49494b;
    width: 200px;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: #000000;
}

select {
    width: 250px;
    text-overflow: ellipsis;
}

.confirmation {
    color: green;
}

.error {
    color: red;
}