* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* Setting up the font-size of HTML so i can size rems in a way that is similar to px */
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.fixed-navbar {
  height: 100vh;
  width: 20vw;
  background-color: #F5F5DC;
  position: fixed;
}

.fixed-navbar .profile-img {
  width: 100%;
  height: auto;
}

.fixed-navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fixed-navbar ul li {
  font-size: 1.6rem;
  text-transform: uppercase;
  text-align: center;
  margin: 2rem 0.5rem;
}

.fixed-navbar a {
  text-decoration: none;
  color: #000;
  display: block;
  padding: 1rem 0.5rem;
}

/* Hover effects */

.fixed-navbar ul li:hover {
  background-color: #000000;
  opacity: 0.1;
}

.fixed-navbar ul li:hover a {
  color: #EEE;
}