* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* Setting up the font-size of HTML so i can size rems in a way that is similar to px */
}

body {
  margin: 0;
  padding: 0;
}

.fixed-navbar {
  height: 100vh;
  width: 15vw;
  background-color: #F5F5DC;
}

.fixed-navbar .profile-img {
  width: 100%;
  height: auto;
}

.fixed-navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fixed-navbar ul li {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  margin-top: 4rem;
}